<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('Book productpage')">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">

</nav>
<style>

    .height-100 {
        height: 100vh
    }

    .card {
        width: 380px;
        border: none;
        height: 280px
    }

    .ratings {
        margin-right: 10px
    }

    .ratings i {
        color: #cecece;
        font-size: 32px
    }

    .rating-color {
        color: #fbc634 !important
    }

    .review-count {
        font-weight: 400;
        margin-bottom: 2px;
        font-size: 24px !important
    }

    .small-ratings i {
        color: #cecece
    }

    .review-stat {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 2px
    }
</style>

<!-- Add icon library -->

<link rel="stylesheet" href="/css/font-awesome.min.css">
<main role="main" class="container">

    <div class="starter-template">
        <h1>코스모스</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <img src="http://image.yes24.com/goods/2312211/XL"  class="img-thumbnail">
                </div>

            </div>
            <div class="col-md-9">
                <div>
                    <h4>책소개</h4>
                </div>
                <div id="introduce">
                    loading
                </div>
                <div  style="height: 50px;">&nbsp;</div>
                <div>
                    <h4>평점</h4>
                </div>
                <div>
                    <!-- V0 -->
                    <div id="rating_ver0">
                        <span>준비중</span>
                    </div>

                    <!-- V1 -->
                    <div id="rating_ver1" style="display:none;">
                        <span>평점: 4</span>
                    </div>

                    <!-- V2 -->
                    <div id="rating_ver2" style="display:none;">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>

                    <!-- V3 -->
                    <div id="rating_ver3" style="display:none;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 50px;">&nbsp;</div>
                <div>
                    <div>
                        <h4>품목정보</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">출간일</th>
                            <th scope="col">2006년 12월 20일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">쪽수, 무게, 크기</th>
                            <td>719쪽 | 1,002g | 153*224*40mm</td>
                        </tr>
                        <tr>
                            <th scope="row">ISBN13</th>
                            <td>9788983711892</td>
                        </tr>
                        <tr>
                            <th scope="row">ISBN10</th>
                            <td>8983711892</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>




</main><!-- /.container -->




<footer th:replace="fragments/common :: footer"></footer>

<!-- custom javascript -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        /*<![CDATA[*/
        let reviewVersion = "[[${reviewVersion}]]";
        /*]]>*/

        let obj = new Array();

        obj = {
            init: function (){


            },
            getDataDetail: function(){

                let url = `/detail/9788983711892`;
                const params = {
                    ISBN13: 9788983711892
                };

                axios.get(url, params)
                    .then((res => {
                        //console.log(res);
                        const {data} = res.data;
                        //console.log(data.introduce);
                        $("#introduce").html(data.introduce);
                    }))
                    .catch(function (error) {
                        alert('서버 작업중 오류가 발생했습니다. 현상을 개발자에게 전달하세요.')
                        if (error.response) {
                            // 요청이 이루어졌으며 서버가 2xx의 범위를 벗어나는 상태 코드로 응답했습니다.
                            console.log(error.response.data);
                            console.log(error.response.status);
                            console.log(error.response.headers);
                        }
                        else if (error.request) {
                            // 요청이 이루어 졌으나 응답을 받지 못했습니다.
                            // `error.request`는 브라우저의 XMLHttpRequest 인스턴스 또는
                            // Node.js의 http.ClientRequest 인스턴스입니다.
                            console.log(error.request);
                        }
                        else {
                            // 오류를 발생시킨 요청을 설정하는 중에 문제가 발생했습니다.
                            console.log('Error', error.message);
                        }
                        console.log(error.config);
                    })
                    .finally(function () {
                        // always executed
                    });
            },
            settingReview: function (){

                $("#rating_ver0").hide();

                if(reviewVersion == 1)
                    $("#rating_ver1").show();

                if(reviewVersion == 2)
                    $("#rating_ver2").show();

                if(reviewVersion == 3)
                    $("#rating_ver3").show();
            }
            // getDataReview1: function(){
            //
            //     let url = `/review/9788983711892`;
            //     const params = {
            //         ver: 1
            //     };
            //
            //     axios.get(url, params)
            //         .then((res => {
            //             // {
            //             //     "code": 0,
            //             //     "ver": 1,
            //             //         "data": {
            //             //         "name": "코스모스",
            //             //             "rating": 4.5,
            //             //             "introduce": "",
            //             //             "isbn13": "9788983711892"
            //             //     }
            //             // }
            //             //console.log(res.data.ver);
            //             //console.log(res.data.code);
            //             const {data} = res.data;
            //             console.log(data);
            //
            //             $("#rating_ver0").hide();
            //
            //             console.log((res.data.ver === 1));
            //             if(res.data.ver === 1)
            //                 $("#rating_ver1").show();
            //
            //             if(res.data.ver === 2)
            //                 $("#rating_ver2").show();
            //
            //             if(res.data.ver === 3)
            //                 $("#rating_ver3").show();
            //
            //         }))
            //         .catch(function (error) {
            //             alert('서버 작업중 오류가 발생했습니다. 현상을 개발자에게 전달하세요.')
            //             if (error.response) {
            //                 // 요청이 이루어졌으며 서버가 2xx의 범위를 벗어나는 상태 코드로 응답했습니다.
            //                 console.log(error.response.data);
            //                 console.log(error.response.status);
            //                 console.log(error.response.headers);
            //             }
            //             else if (error.request) {
            //                 // 요청이 이루어 졌으나 응답을 받지 못했습니다.
            //                 // `error.request`는 브라우저의 XMLHttpRequest 인스턴스 또는
            //                 // Node.js의 http.ClientRequest 인스턴스입니다.
            //                 console.log(error.request);
            //             }
            //             else {
            //                 // 오류를 발생시킨 요청을 설정하는 중에 문제가 발생했습니다.
            //                 console.log('Error', error.message);
            //             }
            //             console.log(error.config);
            //         })
            //         .finally(function () {
            //             // always executed
            //         });
            // }
        };


        $(function() {

            obj.init();

            obj.getDataDetail();
            obj.settingReview();

        });


    </script>
</th:block>
</body>
</html>
